<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="apiUrl" value="http://apimock.com"/>
    <add key="appUrl" value="appUrl"/>
  </appSettings>
  <connectionStrings>
    <add name="exempleDb" connectionString="sqlserverConnection" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>